<!--<admin-container>-->
<div class="portlet">
    <div class="portlet-title app-group-title">
        <div class="caption">
            <i class="fa fa-gear"></i>
            <span class="caption-subject">{{ "Admin Index" | trans }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <p>Welcome to use ZKWeb MVVM Demo</p>
        <p>Before start development, please read following pages:</p>
        <p>Github: <a href="https://github.com/zkweb-framework/ZKWeb.MVVMDemo" target="_blank">https://github.com/zkweb-framework/ZKWeb.MVVMDemo</a></p>
        <p>Documents: <a href="https://github.com/zkweb-framework/ZKWeb.MVVMDemo/docs" target="_blank">https://github.com/zkweb-framework/ZKWeb.MVVMDemo/docs</a></p>
        <p>If you have any question during development please submit an issue or join QQ group 522083886 to ask.</p>
    </div>
</div>
<!--</admin-container>-->