<div class="login-box-container">
	<div class="login-box">
		<div class="login-logo">
			<a><img [src]="logoUrl" alt="logo"></a>
		</div>
		<div class="login-box-body">
			<form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
				<p-blockUI [blocked]="isSubmitting" [target]="adminLoginPanel"></p-blockUI>
				<p-panel #adminLoginPanel>
					<p-header>
						<div class="login-panel-header">{{ "Admin Login" | trans }}</div>
					</p-header>
					<p-messages [value]="msgs"></p-messages>
					<z-form-grid>
						<z-form-text [formGroup]="adminLoginForm" fieldName="Tenant"></z-form-text>
						<z-form-text [formGroup]="adminLoginForm" fieldName="Username"></z-form-text>
						<z-form-password [formGroup]="adminLoginForm" fieldName="Password"></z-form-password>
						<z-form-captcha [formGroup]="adminLoginForm" fieldName="Captcha" captchaKey="AdminLogin" [captchaRefreshEvent]="captchaRefreshEvent"></z-form-captcha>
						<z-form-submit-button [formGroup]="adminLoginForm"></z-form-submit-button>
					</z-form-grid>
					<div class="login-hint">
						<p>{{ "Default admin account is admin, password is 123456, please change it after login immediately" | trans }}</p>
					</div>
				</p-panel>
			</form>
		</div>
	</div>
</div>
