<div class="layout-wrapper">
	<div id="layout-sidebar" [ngClass]="{'active':mobileMenuActive}">
		<span class="layout-logo">
			<a href="#" class="sidebar-logo" [routerLink]="['/']">
				<img alt="logo" [src]="logoUrl" />
			</a>
			<a href="#" id="menu-button-mobile" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
				<i class="fa fa-list"></i>
			</a>
		</span>

		<div *ngFor="let group of navMenuGroups" class="menu-group">
			<a *ngIf="group.url" [routerLink]="group.url" (click)="mobileMenuActive = false">
				<i [class]="group.icon"></i>
				<span>{{ group.name | trans }}</span>
			</a>
			<a *ngIf="!group.url" [class.active-menuitem]="activeMenuId == group.name" (click)="activeMenuId = group.name">
				<i [class]="group.icon"></i>
				<span>{{ group.name | trans }}</span>
			</a>
			<div [ngClass]="{submenu: true, submenushow: (activeMenuId == group.name), submenuhide: (activeMenuId != group.name)}">
				<div *ngFor="let item of group.items" class="menu-item">
					<a [routerLink]="item.url" (click)="mobileMenuActive = false">
						<i [class]="item.icon"></i>
						<span>{{ item.name | trans }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="layout-content">
		<div id="topbar">
			<a href="#" id="menu-button" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
				<i class="fa fa-list"></i>
			</a>

			<a class="topbar-link" (mouseenter)="dropdownVisible = true" (mouseleave)="dropdownVisible = false">
				<img class="avatar" [src]="avatarUrl" />
				<span class="username">{{ username }}</span>
				<div id="topbarDropdown" [style.display]="dropdownVisible ? 'block' : 'none'">
					<span>Premium Templates</span>
					<span>Free Themes</span>
					<a href="#" data-theme="omega" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Omega</span></a>
					<a href="#" data-theme="bootstrap" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Bootstrap</span></a>
					<a href="#" data-theme="cupertino" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Cupertino</span></a>
					<a href="#" data-theme="cruze" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Cruze</span></a>
					<a href="#" data-theme="darkness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Darkness</span></a>
					<a href="#" data-theme="flick" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Flick</span></a>
					<a href="#" data-theme="home" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Home</span></a>
					<a href="#" data-theme="kasper" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Kasper</span></a>
					<a href="#" data-theme="lightness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Lightness</span></a>
					<a href="#" data-theme="ludvig" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Ludvig</span></a>
					<a href="#" data-theme="pepper-grinder" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Pepper-Grinder</span></a>
					<a href="#" data-theme="redmond" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Redmond</span></a>
					<a href="#" data-theme="rocket" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Rocket</span></a>
					<a href="#" data-theme="south-street" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">South-Street</span></a>
					<a href="#" data-theme="start" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Start</span></a>
					<a href="#" data-theme="trontastic" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Trontastic</span></a>
					<a href="#" data-theme="voclain" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Voclain</span></a>
				</div>
			</a>
		</div>

		<div id="layout-content-body">
			<ng-content></ng-content>
		</div>

		<div class="content-section footer clearfix">
			<div class="copyright-bar">
				<div class="text-center">Powered by <a href="https://github.com/zkweb-framework" target="_blank">zkweb framework</a></div>
				<div class="text-center">Copyright © 2016~2017 ZKWeb All rights reserved</div>
			</div>
		</div>
	</div>
</div>
