.page-not-found {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #34495E;

  .contents {
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
