.admin-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;

    > .page-body {
        flex: 1 0 auto;
        min-height: initial;
        background: #fff;
    }

    &.page-portlet-fullscreen {
        overflow: hidden;
    }
}
