/* 支持全屏的模态框，注意使用这个类后将不支持bootstrap-dialog的动态切换大小 */
.bootstrap-dialog.size-fullscreen {
	padding-left: 0px !important;
	overflow-y: hidden;

	.modal-dialog {
		margin: 0px;
		width: 100%;
		height: 100%;
		/* 让滚动条在里层显示 */
		overflow-y: auto;

		.modal-content {
			min-height: 100%;
		}
	}
}

/* 模态框载入远程内容时的样式 */
.bootstrap-dialog-message .remote-contents.loading {
	background: #FFF url('../common.base.images/ajax-loading.gif') no-repeat scroll center center;
	min-height: 300px;
}

/* 弹出框中默认的字体大小 */
.bootstrap-dialog {
	.bootstrap-dialog-message {
		font-size: $font-size-normal;
	}

	.bootstrap-dialog-title {
		font-size: 14px;
	}

	&.type-primary .modal-header {
		background-color: #34495E;
	}

	.bootstrap-dialog-close-button {
		button.close {
			font-size: 18px;
			color: #fff;
			text-shadow: none;
			padding: 4px 4px 0px 0px;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}
}

/* 使用当前主题的弹出框样式 */
.dialog.dialog-themed {
	border: 1px solid #0080BF;
	border-radius: 2px;
	background-color: #fff;

	.title {
		height: 28px;
		line-height: 28px;
		text-align: right;
		background-color: #0080BF;

		> a {
			color: #FFF;
			text-decoration: none;
			margin-right: 10px;
		}
	}

	.contents {
		color: #666;
	}
}

/* 低分辨率下全屏的模态框内容无边框 */
@media (max-width: 767px) {
	.bootstrap-dialog.size-fullscreen {
		.modal-dialog {
			.modal-body {
				padding: 15px 0px 0px 0px;
			}
		}
	}
}
