/* 表格载入中样式 */
.ajax-table.loading {
	background: #FFF url('../common.base.images/ajax-loading.gif') no-repeat scroll center center;
	min-height: 300px;

	> * {
		display: none;
	}
}

/* 表格样式 */
.table {
	/* 选中行样式 */
	tr.selected {
		background-color: #4B8DF8 !important;
		color: #FFF;
		/* 链接字体的颜色 */
		a {
			color: #FFF;
		}
	}
	/* 表格头部不使用底边框 */
	&.table-striped > thead > tr > th {
		border-bottom: none;
	}
	/* 表格标题栏字体大小 */
	> thead > tr > th {
		font-size: $font-size-normal;
	}
	/* 操作按钮样式 */
	> tbody > tr > td .btn {
		margin: 0px 0px 5px 5px;

		> i {
			font-size: 13px;
		}
	}
}

/* 表格树样式 */
.table-tree-container {
	.pagination-panel {
		display: none;
	}

	.treenode {
		cursor: pointer;

		> i {
			padding-right: 5px;

			&:before {
				content: "\f078";
			}
		}
	}

	.collapsed > td > .treenode > i:before {
		content: "\f054";
	}

	.treenode.no-childs > i:before {
		content: "\f068";
	}

	.collapsed > td > .treenode.no-childs > i:before {
		content: "\f068";
	}
}

/* 可编辑的表格样式 */
.table.table-editable {
	/* 输入框最小宽度 */
	/* 已禁用列的最小宽度 */
	td > .form-control, .disabled {
		min-width: 70px;
	}
	/* 操作按钮的禁用 */
	> tbody {
		/* 第一行禁用向上按钮，最后一行禁止向下按钮 */
		tr:first-child .actions .up-data,
		tr:last-child .actions .down-data {
			background-color: grey;
			pointer-events: none;
			cursor: not-allowed;
		}
	}
	/* 需要保留最后一行时，最后一行禁止所有操作按钮，最后一行的上一行禁用向下按钮 */
	&.table-editable-always-keep-last-row > tbody {
		tr:last-child .actions .up-data,
		tr:last-child .actions .down-data,
		tr:last-child .actions .remove-data,
		tr:nth-last-child(2) .actions .down-data {
			background-color: grey;
			pointer-events: none;
			cursor: not-allowed;
		}
	}
}

/* 要求横向滚动的表格 */
.table-scroller {
	overflow-x: auto;
	/* 让absolute的弹出菜单最少能显示一点，无其他解决办法了，参考
		http://stackoverflow.com/questions/4605715/position-absolute-and-overflow-hidden
		http://stackoverflow.com/questions/5072467/why-does-overflow-yhidden-affect-the-visibility-of-items-overflowing-on-the-x */
	min-height: 200px;

	> table {
		min-width: 768px;
	}
}

/* 表格分页控件 */
.pagination {
	margin: 0px 0px 10px 0px;

	> li > a {
		height: 30px;

		&.disabled {
			cursor: default;
			pointer-events: none;
			background-color: #f4f4f4;
		}

		&.ellipsis {
			cursor: default;
			pointer-events: none;
			border-top: none;
			border-bottom: none;
		}

		&.active {
			color: #34495e;
			font-weight: bold;
		}
	}

	.pagination-input {
		float: left;
		vertical-align: middle;
		width: 45px !important;
		height: 30px !important;
		color: #34495e;
		font-weight: bold;
		text-align: center;
		margin: 0px 0px 0px -1px;
	}
}

/* 高级搜索样式 */
.advanced-search {
	.form-horizontal {
		padding: 12px 0px 0px;

		.form-group {
			/* 文本和控件 */
			@media (min-width: 992px) {
				/* 相当于col-md-4 */
				.control-label {
					float: left;
					width: 33.33333333%;
				}
				/* 相当于col-md-8 */
				.form-controls {
					float: left;
					width: 66.66666667%;
				}
			}
		}
	}

	.form-actions {
		min-width: 280px;
		padding: 12px 0px;
		border-top: 1px solid #e5e5e5;

		.btn {
			float: right;
		}
	}
}

/* 搜索栏 */
.portlet > .portlet-title > .search-bar {
	padding: 0px 0px 7px 0px;
	float: right;
	display: inline-block;

	> .search-bar-before-items {
		margin: 0px 4px 4px 0px;
	}

	> .search-bar-before-items, > .search-bar-after-items {
		float: left;

		.btn {
			padding: 7px 13px 8px;

			i {
				margin: 0px 4px 0px 0px;
			}
		}
	}

	> .search-bar-body {
		float: left;
		margin: 0px 0px 4px 0px;

		> .portlet-input {
			float: left;
			max-width: 230px;

			.input-group-btn {
				width: auto;
			}
		}

		> .btn-group {
			float: left;
			margin: 0px -4px 0px 0px;
		}

		.btn {
			padding: 7px 13px 8px;
		}
	}
}
