<!--<admin-container>-->
<div class="portlet">
    <h3 class="portlet-title">
        <i class="fa fa-tasks"></i>
        <span class="caption-subject">{{ "Scheduled Tasks Log" | trans }}</span>
    </h3>
    <div class="portlet-body">
        <p-messages [value]="msgs"></p-messages>
        <p-dataTable [value]="value" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" [globalFilter]="globalFilter" [resizableColumns]="true" [reorderableColumns]="true" [emptyMessage]="emptyMessage" scrollable="true"
            scrollHeight="300px" sortField="CreateTime" sortOrder="-1" [lazy]="true" (onLazyLoad)="search($event)" [loading]="loading" #table>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="pull-left">
						</span>
                    <span class="pull-right">
							<i class="fa fa-search search-icon"></i>
							<input #globalFilter type="text" pInputText [placeholder]="'Name' | trans">
						</span>
                </div>
            </p-header>
            <p-column field="TaskId" [header]="'Name' | trans" [filter]="true" [sortable]="true" [filterPlaceholder]="'Search' | trans"></p-column>
            <p-column field="CreateTime" [header]="'Executed Time' | trans" [sortable]="true"></p-column>
            <p-column field="Success" [header]="'IsSuccess' | trans" [filter]="true">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="isSuccessOptions" (onChange)="table.filter($event.value, col.field, col.filterMatchMode)" class="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-row="rowData" pTemplate="body">
                    {{ (row.Success ? "Yes" : "No") | trans }}
                </ng-template>
            </p-column>
            <p-column field="Error" [header]="'ErrorMessage' | trans" [sortable]="true"></p-column>
        </p-dataTable>
    </div>
</div>
<!--</admin-container>-->