/* 登陆页背景 */
.login-box-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(225deg,#34495e,#2c3e50,#34495e);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 登陆框大小 */
.login-box {
	width: 450px;
	padding: 0px;
	margin: -80px 0px 0px 0px;
}

@media (max-width: 480px) {
	.login-box {
		width: 100%;
		padding: 0px;
	}
}

/* 登陆表单样式 */
.login-box form {
	.form-actions .btn[type="submit"] {
		// width: 70px;
		margin-left: 0px;
		width: 100%;
	}

	.rememberLogin {
		float: right;

		.control-label {
			display: block;
			float: left;
			line-height: 24px;
			color: #8290A3;
			margin: 0px 8px 0px 0px;
			width: auto;
		}

		.form-controls {
			float: right;
			width: auto !important;
		}
	}
}

/* 登录提示样式 */
.login-box .login-hint {
	margin: 12px 15px 0px 12px;
	border-top: 1px solid #aeaeae;
	text-align: center;
	font-size: 12px;

	p {
		margin: 15px 0px 0px 0px;
	}
}

/* 登录LOGO */
.login-logo {
	text-align: center;
}

/* 标题框标题 */
.login-panel-header {
	text-align: center;
}
