/* 提醒信息中的多行显示 */
.alert {
	> pre {
		margin: 0px;
		padding: 0px;
		background: none;
		border: none;
		font-size: 12px;
	}

	&.alert-info > pre {
		color: #31708F;
	}

	&.alert-warning > pre {
		color: #8A6D3B;
	}

	&.alert-danger > pre {
		color: #A94442;
	}

	&.alert-success > pre {
		color: #3C763D;
	}
}
