/* 首页布局 */
.index-inner-area {
	.index-inner-leftbar,
	.index-inner-rightbar {
		width: 16.66666667%;
		float: left;
	}

	.index-inner-middle {
		width: 66.66666667%;
		float: left;
	}
}
