@import "variables.scss";

/* 下拉菜单样式 */
.dropdown-menu {
	font-size: $font-size-normal;
	/* 菜单项高度 */
	li > a {
		line-height: $font-size-normal;
		padding: 8px 14px;
		text-decoration: none;
		display: block;
		clear: both;
		font-weight: 300;
		white-space: nowrap;
	}
	/* 分割线高度 */
	.divider {
		margin: 7px 0px;
	}
	/* 激活的菜单项 */
	li > .active {
		color: #5B9BD1 !important;

		i {
			color: #5B9BD1 !important;
		}
	}
}

/* 子菜单 */
.dropdown-submenu {
	position: relative;

	> a::after {
		position: absolute;
		display: inline-block;
		font-size: 14px;
		right: 7px;
		top: 7px;
		font-family: FontAwesome;
		height: auto;
		content: "\f105";
		font-weight: 300;
	}

	.dropdown-menu {
		top: 5px;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		right: 0px;
	}
}
