/* 顶部栏的样式 */
.page-header {
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: $font-size-normal;
	/* 顶部导航栏 */
	.top-navbar {
		background-color: #f7f7f7;
		line-height: 28px;
		min-height: 28px;
		padding: 0px 4px;
		margin: 0px 0px 15px 0px;
		border-top: 1px solid #eee;
		box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 2px #dfdfdf, 0px 0px 5px 3px #f0f0f0;
		/* 右侧菜单的样式 */
		.nav.pull-right > .template_area {
			.template_widget {
				float: left;
				padding: 0px 5px;
			}
		}
		/* 链接的样式 */
		.nav-link {
			color: #666;
			background-color: transparent;
			/* 选中时改变颜色和添加下划线 */
			&:hover, &:focus, &:active {
				color: #2296d4;
				text-decoration: underline;
			}
		}
	}
	/* 顶部Logo栏 */
	.top-logobar {
		min-height: 90px;

		.template_widget {
			float: left;
		}

		.logo img {
			height: 75px;
		}
	}
	/* 顶部菜单栏 */
	.top-menubar {
		min-height: 42px;
		line-height: 42px;
		background-color: #0080BF;
		/* 菜单的样式 */
		.template_widget {
			float: left;
		}

		.nav > li {
			float: left;
			/* 链接的样式 */
			> a {
				padding: 0px 15px;
				font-size: 14px;
				color: #FFF;
				background-color: #0080BF;
				/* 选中时改变背景 */
				&:hover, &:focus, &:active {
					background-color: #2296d4;
				}
			}
		}
	}
}

/* 全屏时降低顶部栏的显示优先度 */
.page-portlet-fullscreen {
	.page-header {
		z-index: 0;
	}
}

/* 底部栏的样式 */
.page-footer {
	padding: 20px 0px 0px 0px;
	/* 底部版权信息栏的样式 */
	.copyright-bar {
		line-height: 24px;
		padding: 4px 0px;
		margin: 0px 40px;
		border-top: 1px solid #eee;
	}

	@media (max-width: 767px) {
		.copyright-bar {
			margin: 0px 20px;
		}
	}
}
