@import "variables.scss";

/* 设置html和body的高度等于100%*/
html, body {
	font-size: $font-size-normal;
	height: 100%;
}

/* 支持在大分辨率时居中 */
.screen-center-block {
	max-width: 1200px;
	margin: auto !important;
}

/* 重新实现page-container */
.page-container {
	margin: 0px;
	padding: 20px 20px 0 20px;
	position: relative;
}

/* 重新实现portlet */
.portlet {
	padding: 12px 20px 15px 20px;

	.portlet-title {
		padding: 0;
		min-height: 38px;
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
		margin-bottom: 10px;
	}

	> .portlet-title > .caption {
		float: left;
		display: inline-block;
		font-size: 18px;
		line-height: 18px;
		font-weight: 300;
		padding: 0px 0px 7px 0px;

		> i {
			color: #34495e !important;
		}

		> .caption-subject {
			font-size: 14px;
			color: #34495e !important;
			text-transform: uppercase !important;
			font-weight: bold !important;
		}

		> .caption-helper {
			font-size: 14px;
			color: #999;

			> a {
				color: #999;
				text-decoration: underline;
			}
		}
	}

	> .portlet-title > .btn {
		margin: 5px 0px 0px 5px;
	}
}

/* 全屏功能 */
.portlet.portlet-fullscreen {
	z-index: $zindex-modal - 1;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: auto;
}

/* 低分辨率时无边距 */
@media (max-width: 767px) {
	.page-container {
		margin: 0;
		padding: 0;

		> .portlet {
			margin: 0;
			padding: 0;
		}
	}
}

/* 模态框 */
.modal {
	z-index: $zindex-modal;
}

/* 页面内容的标题 */
.body-title {
	font-size: 25px;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding-bottom: 8px;
	margin: 15px;

	> i {
		font-size: 25px;
	}
}

/* 全局label样式 */
label {
	font-weight: normal;
}

/* 全局链接样式 */
a {
	cursor: pointer;
}

/* 首页内容的边距 */
.index-page-container {
	padding: 0px;
}

@media (max-width: 1200px) {
	.index-page-container {
		padding: 0px 4px;
	}
}

/* 动态内容区域的clearfix */
/* http://stackoverflow.com/questions/211383/what-methods-of-clearfix-can-i-use */
.template_area::after {
	content: "";
	display: block;
	clear: both;
}

/* 动态内容模块的clearfix */
.template_widget::after {
	content: "";
	display: block;
	clear: both;
}
