/* 标签栏中的按钮 */
.nav.nav-tabs {
	li.buttons {
		float: right;
		margin-top: 3px;
		margin-right: 5px;

		&:hover, &:focus {
			border-bottom: none;
		}
	}
}

/* 标签栏的字体大小 */
.nav-tabs > li > a {
	font-size: $font-size-normal;
}

/* 标签内容的边距 */
.tabbable-line > .tab-content {
	padding: 15px 0;
}
