/* 修改text-default的字体颜色，原来的太灰 */
.text-default {
	color: #666;
}

/* 上下留空的文本行 */
.text-center-row {
	text-align: center;
	margin: 30px 0px;
}

/* 用于提示没有找到相关记录时的文本 */
.no-matched-records {
	text-align: center;
	margin: 100px 0px;
	font-size: 14px;
	font-weight: bold;
}
